@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 80vh-200px;
  background-color: #f6ae99;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  font-family: "Arimo", sans-serif;
}

.input, button {
  width: 100%;
  box-sizing: border-box; /* add this */
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
}

input:focus {
  outline: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 90);
}

.container {
  height: 80%;
  filter: drop-shadow(15px 15px 15px RGBA(16, 16, 16, 0.3));
}

.input-box {
  display: flex;
  flex-direction: column-reverse;
  height: 30%;
  width: 80vw;
  background-image: linear-gradient(#ff9966, #ff5e62);
  font-size: 50px;
  padding: 10%;
  text-align: right;
  border-radius: 10px 10px 0px 0px;
}

input:focus {
  outline: none;
}

textarea{
  border: none;
  resize: none;
}

#textval {
  background-color: inherit;
  font-size: 35px;
  height: 55px;
  text-align: right;
  margin: 0% 0% 5% 5%;
}

.previous{
  height: 70px;
  font-size: 45px;
}

.table {
  display: flex;
  width: 80vw;
  height: 70%;
  background-color: #fafafa;
  justify-content: center;
  border-radius: 0px 0px 10px 10px;
}

input[type="button"] {
  font-size: 22px;
  background-color: inherit;
  cursor: pointer;
  padding: 15%;
}


td {
  width: 25vw;
  max-height: fit-content;
  text-align: center;
}

.right {
  background-color: #334257;
  border-radius: 0px 0px 10px 0px;
}
.right input {
  color: #ff9966;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (min-width: 600px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 90);
  }
  .container {
    margin-top: auto;
    height: 80%;
    width: 80vw;
    display: flex;
    justify-content: center;
    filter: drop-shadow(15px 15px 15px RGBA(16, 16, 16, 0.3));
  }
  
  .input-box {
    height: 100%;
    width: 20vw;
    font-size: 20px;
    padding-right: 10%;
    flex-direction: column-reverse;
    text-align: left;
    border-radius: 10px 0px 0px 10px;
    align-items: center;
  }
  .previous{
    max-height: 150px;
    width: 150px;
    text-align: right;
    font-size: 40px;
    word-wrap: break-word;
  }

  #textval {
    background-color: inherit;
    font-size: 30px;
    align-items: flex-start;
    min-height: 40px auto;
    width: 150px;
  }

  .table {
    display: flex;
    width: 55%;
    height: 100%;
    background-color: #fafafa;
    justify-content: center;
    align-items: center;
    border-radius: 0px 10px 10px 0px;
  }

  td {
    width: 10vw;
    text-align: center;
  }

  .left{
    margin: 0 auto;
  }

  .right{
    height: 100%;
    border-radius: 0px 10px 10px 0px;
  }

}

/*----------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (min-width: 1000px) {
  .input-box {
    height: 100%;
    width: 20vw;
    font-size: 20px;
    padding-right: 10%;
    flex-direction: column-reverse;
    text-align: left;
    border-radius: 10px 0px 0px 10px;
    justify-content: center;
    align-items: center;
  }
  .previous{
    max-height: 150px;
    width: 250px;
    text-align: right;
    font-size: 70px;
    word-wrap: break-word;
  }

  #textval {
    justify-content: center;
    background-color: inherit;
    font-size: 50px;
    align-items: flex-start;
    min-height:70px ;
    width: 250px;
  }
}