@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");

:root {
  --myblue: #0cd4fa;
  --myorange: #faca79;
  --myred: #fb9c75;
  --mypurple: #b797f5;
  --mygreen: #e4ed92;
  --mywhite: #fafafa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

html {
  background-color: #101010;
  height: 100%;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--mywhite);
}

button {
  outline: none;
  border: none;
}

input {
  outline: none;
  border: none;
  background-color: inherit;
}

i {
  margin: 0;
  padding: 2px;
}

textarea {
  outline: none;
  resize: none;
  border: none;
  background-color: inherit;
}

span:focus {
  outline: none;
}

.container {
  padding: 10%;
}

.header_and_add {
  display: flex;
  flex-direction: column;
}

/*---------------------Modal Region--------------------------*/
.modal {
  position: fixed;
  margin: 0 auto;
}

.modal-header {
  padding: 14px;
  border: none;
  display: inline-block;
  font-weight: 500;
  filter: drop-shadow(0px 0.5px 5px rgba(16, 16, 16, 0.1));
  background-color: var(--myred);
  word-wrap: break-word;
  font-size: 30px;
}

.modal-header:empty::before {
  content: "Think of a Good Title";
  color: #6e6d6d;
}

.modal .modal-body {
  background-color: inherit;
  height: 70vh;
  padding: 20px;
  border: none;
}

.modal-body textarea {
  width: 85vw;
  height: 60vh;
}

.modal-bottom {
  width: 60vw;
  height: 8vh;
  margin: 0 auto;
  margin-bottom: 25px;
  border-radius: 50px 50px 50px 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.modal-icons {
  width: inherit;
  height: inherit;
  background-color: var(--myred);
  color: #fafafa;
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 1;
  transition: all 0.4s linear;
}

#modal-color-picker {
  width: inherit;
  height: inherit;
  display: none;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 50px 50px 50px 50px;
  opacity: 1;
  z-index: 1;
  border: 5px solid var(--myred);
}

.select-color {
  margin: 0 15px;
}

.color-buttons {
  display: block;
  margin: 0 auto;
  justify-content: center;
}

.hidden {
  display: none;
}

.visuallyhidden {
  opacity: 0;
}
/*---------------- -----Header Region--------------------------*/
.header {
  text-align: center;
}

.logo {
  font-size: 50px;
  margin: 0%;
}
/*--------------------Search/Filter Bar------------------------*/
.search {
  display: flex;
  justify-content: center;
}

.filter {
  width: 60vw;
  border-radius: 30px;
  outline: none;
  border: none;
  background-color: #eaebe9;
  padding: 10px;
}
/*---------------------Add Button Region--------------------------*/
.addButton {
  width: 40px;
  height: 40px;
  background-color: #101010;
  color: #fafafa;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 20px;
}
.addNote {
  display: block;
  text-align: center;
  margin: 0 auto;
}
.dropdown {
  display: block;
  margin: 0 auto;
  height: 80px;
  margin-bottom: 18px;
}
.color-select {
  margin: 5px 9px;
}
.colors {
  overflow-y: hidden;
  max-height: 500px;
  transition-property: all;
  transition-duration: 0.6s;
}
.color-dropdown {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 50vw;
  height: 8vw;
  margin: 0 auto;
  background-color: #fafafa;
}
.color-select {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  transition: all 0.5s ease-in linear;
}
.closed {
  max-height: 0;
}

#red {
  background-color: var(--myred);
  border: 1px solid inherit;
}

#blue {
  background-color: var(--myblue);
}

#green {
  background-color: var(--mygreen);
}

#orange {
  background-color: var(--myorange);
}

#purple {
  background-color: var(--mypurple);
}

button.color-select {
  border: 1px solid inherit;
}

button.color-select:hover {
  animation: spin 2s linear infinite;
  border: 1.9px dashed #fafafa;
  box-shadow: 0 0 0 2px #fafafa inset;
}

@keyframes spin {
  100% {
    transform: rotateZ(360deg);
  }
}
/*---------------------Notes Region--------------------------*/
.notes-content {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.note {
  width: 60vw;
  height: auto;
  word-wrap: break-word;
  background-color: var(--myorange);
  padding: 8%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.note-date {
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
}

/*---------------------Footer Region--------------------------*/
footer {
  background-color: #101010;
  text-align: center;
  font-size: 15px;
  color: #fafafa;
  padding: 10px;
  height: 20vh;
}

.author {
  margin-top: 5px;
}

.social-icons {
  height: 100px;
  text-align: center;
}

.fa {
  margin: 0px 10px 0px 10px;
  font-size: 20px;
  color: #fafafa;
  height: inherit;
  padding-bottom: 0;
}

/*-------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------
----------------------------------MEDIUM DEVICE WIDTH----------------------------------------------
---------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------*/

@media screen and (min-width: 768px) {
  /*Modal*/
  .modal-body textarea {
    width: 56vw;
  }
  .modal .modal-body {
    height: 70vh;
  }

  .modal-bottom {
    width: 40vw;
  }
  /*Header*/
  .header {
    text-align: left;
    width: 100vw;
    padding: 10% 3%;
  }

  .logo {
    font-size: 50px;
    margin: 0%;
  }

  body {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  /*Add Button Content*/
  .addButton {
    padding: 0;
    margin: 0;
  }

  .dropdown {
    margin-bottom: 30px;
    display: flex;
    height: 60px;
    align-items: center;
    width: 50vw;
  }

  .colors {
    overflow-x: hidden;
    max-height: 70px;
    max-width: 300px;
  }
  .color-dropdown {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 30vw;
    margin: 0 auto;
    background-color: #fafafa;
  }

  .closed {
    max-width: 0;
  }
  /*Notes Content*/

  .notes-content {
    min-height: auto;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0 3%;
  }

  .note {
    width: 25vw;
    height: auto;
    word-wrap: break-word;
    background-color: var(--myorange);
    padding: 5% 3% 5% 3%;
    border-radius: 10px;
    margin: 5% 2% 2% 0%;
    margin-bottom: 20px;
  }

  .note-content {
    overflow: hidden;
    height: 50px;
  }

  .note-date {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
  }

  .note-date {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
  }
}

/*-------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------
----------------------------------DESKTOP DEVICE WIDTH---------------------------------------------
---------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------*/

@media screen and (min-width: 1000px) {
  .modal-body textarea {
    width: 33vw;
  }
  .modal-bottom {
    width: 30vw;
  }
  /*-------------HEADER REGION----------*/
  .header_and_add {
    flex-direction: column-reverse;
  }
  .header {
    text-align: left;
    width: 100vw;
    padding: 5% 3%;
  }

  .logo {
    font-size: 50px;
    margin: 0%;
  }

  body {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  /*Add Button Content*/
  #add-note {
    border: 1px solid red;
  }
  .dropdown {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 15vh;
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-y: hidden;
  }
  .color-select {
    margin: 5px 4px;
  }
  .colors {
    overflow-y: hidden;
    max-height: 500px;
    max-width: 50px;
    margin: 0 auto;
  }
  .color-dropdown {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50px;
    height: 25vh;
    margin: 0 auto;
    background-color: #fafafa;
  }
  .closed {
    max-height: 0;
  }

  /*Notes Content*/

  .notes-content {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    gap: 20px;
    min-height: auto;
  }

  .note {
    width: 15vw;
    height: auto;
    word-wrap: break-word;
    background-color: var(--myorange);
    padding: 2%;
    margin: 5% 0 0 0;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .note-content {
    overflow: hidden;
    height: 50px;
  }

  .note-date {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
  }
}
